:root{
  --headerHeight: 60px;
  --footerHeight: 30px;
  --navHeight: 30px;
}
* {
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
header{
  height: var(--headerHeight, 60px);
}
footer{
  height: var(--footerHeight, 30px);
}
nav{
  height: var(--navHeight, 30px);
}
main{
  height: calc(100% - var(--headerHeight, 60px) - var(--footerHeight, 30px) - var(--navHeight, 30px));
}
.container{
  display: flex;
  height: 100%;
}
article{
  height: 100%;
  width: 100%;
}
.sideMenu{
  width: 100px;
}

li{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 20px;
}
